.video-container {
  width: 100%;
  max-width: 2000px;
  height: 2000px;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
